* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 h1 {
    margin-bottom: 10px;
 }

body {
    font-family: Arial, Helvetica, sans-serif;
}

#box {
    border: 0px solid black;
    width: 1000px;
    -moz-column-width: 250px;
    -webkit-column-gap: 50px;

    column-width: 25px;
    column-gap: 50px;

    /* column-rule-width: 2px;
    column-rule-style: solid;
    column-rule-color: green; */
    /* shorthand */
    column-rule: 3px solid green;
}

h2 {
    margin-bottom: 10px;
    /* column-span: none; */
    column-span: all;
}