 body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: slategray;
            margin: 0;
            padding: 0;
        }

        :root {
            --main-color: rgb(15, 15, 119);
            --head-font: arial;
        }

        #wrapper {
            width: 1000px;
            background: white;
            border: 0px solid black;
            margin: 0 auto;
        }

        #header {
            background-color: var(--main-color);
            color: white;
            height: 100px;
        }

        #header h1 {
            padding: 30px 0 0 20px;
            text-align: center;
        }

        #menu {
            background-color: lightsalmon;
        }

        #menu li {
            display: inline-block;
        }

        #menu ul {
            margin: 0;
            padding: 0;
        }

        #menu li a {
            display: block;
            padding: 10px 13px;
            text-decoration: none;
            color: black;
        }

        #menu li a:hover {
            background-color: var(--main-color);
            color: white;
        }

        #content {
            width: 800px;
            min-height: 500px;
            padding: 15px;
            float: left;
            box-sizing: border-box;
            position: relative;
        }

        #content h2 {
            color: var(--main-color);
        }

        #sidebar {
            width: 200px;
            min-height: 500px;
            background-color: lightblue;
            float: right;
        }

        #sidebar li {
            list-style-type: none;
        }

        #sidebar a {
            text-decoration: none;
            color: black;
        }

        #footer {
            background-color: var(--main-color);
            color: white;
            padding: 10px 15px;
            text-align: right;
            clear: both;
        }

        #test {
            width: 100px;
            height: 100px;
            background: gold;
            position: sticky;
            top: 30px;
            left: 100px;
        }

        @media screen and (max-width: 1020px) {
            #wrapper {
                width: 800px;
            }
        }

        @media screen and (max-width: 810px) {
            #wrapper {
                width: 500px;
            }
        }

        @media screen and (max-width: 510px) {
            #wrapper {
                width: auto;
            }
        }

         @media screen and (max-width: 1020px) {
            #wrapper {
                width: 800px;
            }
        }