<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flexbox Layout</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul id="menu">
          <li><a href="">Home</a></li>
          <li><a href="">About Us</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
      </nav>
      <div id="logo">
        <a href="">Sushil Tamang</a>
      </div>
      <nav id="social-links">
        <ul>
          <li>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-google"></i></a>
          </li>
        </ul>
      </nav>
    </header>

    <div id="main">
      <aside>
        <ul>
          <li><a href="">Some Link</a></li>
          <li><a href="">Some Link</a></li>
          <li><a href="">Some Link</a></li>
          <li><a href="">Some Link</a></li>
          <li><a href="">Some Link</a></li>
        </ul>
      </aside>
      <article>
        <h2>Welcome To Our Website</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
          eligendi nam eveniet eaque commodi totam temporibus illum molestiae
          debitis cupiditate ratione nobis, facilis culpa cum consequuntur ea.
          Esse praesentium, fugit excepturi quos, soluta quo magni aperiam ipsam
          nisi incidunt nemo. Dicta autem tenetur animi non, velit adipisci.
          Iste qui, dignissimos, aliquam quo recusandae fugiat reprehenderit
          voluptates ipsam velit aperiam deleniti reiciendis rerum illum eos
          cupiditate hic animi? Eum sequi in, non porro ducimus asperiores
          obcaecati cumque ab laboriosam tempora necessitatibus dignissimos
          excepturi accusamus quae fugiat culpa similique pariatur laborum nobis
          consequatur impedit. Mollitia sunt laborum laudantium accusamus fugit
          modi doloremque.
        </p>
        <h2>Our Services</h2>
        <div class="services-container">
            <!-- box1 -->
          <div class="service-box">
            <div class="service-img">
              <img src="" alt="" />
            </div>
            <div class="service-title">
              <h3>Web Designing</h3>
            </div>
            <div class="service-desc">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
                temporibus.
              </p>
            </div>
            <div class="call-to-action">
              <a href="">Readmore</a>
            </div>
          </div>

          <!-- box2 -->
          <div class="service-box">
            <div class="service-img">
              <img src="" alt="" />
            </div>
            <div class="service-title">
              <h3>Web Development</h3>
            </div>
            <div class="service-desc">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
                temporibus.
              </p>
            </div>
            <div class="call-to-action">
              <a href="">Readmore</a>
            </div>
          </div>

          <!-- box3 -->
          <div class="service-box">
            <div class="service-img">
              <img src="" alt="" />
            </div>
            <div class="service-title">
              <h3>Mobile App Development</h3>
            </div>
            <div class="service-desc">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
                temporibus.
              </p>
            </div>
            <div class="call-to-action">
              <a href="">Readmore</a>
            </div>
          </div>

          
        </div>
      </article>
    </div>
  </body>
</html>
