* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #566c2b;
    display: flex;
    align-items: center;
    padding: 15px 0;
}

header a {
    color: #fff;
}

a {
    text-decoration: none;
}

#menu li {
    padding: 10px;
}

header ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

#social-links li {
    padding: 10px;
}

#logo {
    margin: 0 auto;
    font-size: 25px;
}

.services-container {
    /* padding: 10px; */
    padding-left: 10px;
    display: flex;
}

.service-box {
    padding-left: 10px;
    border: 1px solid #eee;
}