.container {
    background-color: #EEE;
    margin: 50px;
    padding: 10px;
    border: 3px solid #000;

    display: flex;
}

.items {
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 5px;
    /* flex-grow: 0; */
    flex-grow: 1;

}

.item1 {
    background-color: orangered;
    flex-grow: 3;
}

.item2 {
    background-color: yellowgreen;
}

.item3 {
    background-color: mediumpurple;
    flex-grow: 5;
}

.item4 {
    background-color: hotpink;
}

.item5 {
    background-color: royalblue;
    
}