body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* #box {
    width: calc(100% - 20px - 20px - 1px - 1px); 
    width: 500px;
    height: 300px;
    border: 1px solid black;
    background-color: papayawhip;
    padding: 20px;
    position: absolute;
    left: calc(50% - 250px - 20px - 1px);
    top: calc(50% - 150px - 20px - 1px);

} */

#header {
    width: 100%;
    height: 100px;
    border: 0px solid black;
    background-color: papayawhip;
}

#content {
    border: 0px solid black;
    background-color: pink;
    width: 100%;
    height: calc(100vh - 200px);
}

#footer {
    width: 100%;
    height: 100px;
    border: 0px solid black;
    background-color: green;
}

